# .coveragerc to control coverage.py
[run]
branch = True
source = impacts
omit =
    tests/*
    examples/*
    src/impacts/tmp/*
    src/impacts/step6_aermod_dispersion.py

[paths]
source =
    src/impacts
    */site-packages/impacts

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
