examples/pipeline/pilates/upstream/**.sbn filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.sbx filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.cpg filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.shp.xml filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.shp filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.dbf filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.shx filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/**.prj filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/upstream/ITERS/**/*.parquet filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/beam/production/sfbay/urbansim/**/*.csv.gz filter=lfs diff=lfs merge=lfs -text
examples/pipeline/pilates/beam/beam_output/ITERS/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data/fleet/**/*.parquet filter=lfs diff=lfs merge=lfs -text
