numpy>=1.26,<2.0
pandas
geopandas>=0.11.1
pyproj>=3.6.1
shapely>=1.8.5
duckdb>=1.1.0
pyarrow>=14
scipy>=1.10
zarr==3.1.5
PyYAML
tqdm
pyogrio
s3fs
osm-chordify==0.2.4
matplotlib>=3.9.0
memray
pyreadr
consist
